#workbenchPageContent,
.CanvasZoneSectionContainer {
  max-width: 100% !important;
  margin: 0;
}
.ControlZone {
  padding: 0 !important;
  margin: 0 !important;
}
.CanvasSection {
  padding: 0 !important;
}
.CanvasZone {
  max-width: 100% !important;
  padding: 0 !important;
}
 
#SuiteNavWrapper{
  z-index: 12 !important;
}
 
.spAppAndPropertyPanelContainer .sp-appBar,
.SPPageChrome-app .commandBarWrapper ,
#showOverlayText{
  display: none !important;
}